<div class="container">
  <h2>Treinamento Dag</h2>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>GeoLocalização</strong></h5>
      <p>Minha Latitude: {{latitude}}</p>
      <p>Minha Longitude: {{longitude}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title"><strong>Informações do dispositivo</strong></h5>
      <p>Nome do Dispositivo: {{nomeDisp}}</p>
      <p>Porcentagem da Bateria: {{bateria}}</p>
      <p>Sistema Operacional: {{sistemaOperacional}}</p>
      <p>Versão do S.O.: {{versaoSo}}</p>
    </div>
  </div>

</div>

