<router-outlet>
  <app-sidebar></app-sidebar>
</router-outlet>

<!-- <div class="uk-container">
  <h2>Treinamento Dag</h2>

  <div class="uk-card uk-card-default " style="width: 18rem;">
    <div class="uk-card-body">
      <h5 class="uk-card-title"><strong>GeoLocalização</strong></h5>
      <p>Minha Latitude: {{latitude}}</p>
      <p>Minha Longitude: {{longitude}}</p>
    </div>

    <div class="uk-card-body">
      <h5 class="uk-card-title"><strong>Informações do dispositivo</strong></h5>
      <p>Nome do Dispositivo: {{nomeDisp}}</p>
      <p>Porcentagem da Bateria: {{bateria}}</p>
      <p>Sistema Operacional: {{sistemaOperacional}}</p>
      <p>Versão do S.O.: {{versaoSo}}</p>
    </div>
  </div>

</div>
 -->
